* {
  margin: 0;
  padding: 0;
}

.app {
  height: 100vh; /* Ensures it takes the full viewport height */
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
}

.header {
  background-color: #282c34; /* Dark background color */
  color: white; /* White text */
  padding: 10px;
  text-align: center;
  height: 36px; /* Set an explicit height */
  flex-shrink: 0; /* Prevents it from shrinking */
  border-bottom: 4px solid #31353d; /* Bottom border for depth */
}

.content {
  flex: 1;
  overflow: auto; /* Prevents content from overflowing */
  background-color: #282c34; /* Dark background color */
  color: white; /* White text */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}