.gallery-row {
  position: relative;
  height: 224px; /* Fixed height for the row */
  overflow: hidden; /* Hide overflow to keep it clean */
  background-color: #282c34; /* Background color */
  color: white; /* Text color */
  padding: 10px; /* Padding for aesthetics */
}

.gallery-row-title {
  text-transform: uppercase;
  float: left; /* Align title to the left */
  font-size: 20px;
}

.gallery-row-view-all {
  float: right; /* Align "View All" to the right */
  font-size: 18px;
}

.slick-slider {
  padding-top: 25px;
}