/* Custom styles for slick carousel that can't be done with Tailwind */
.game-carousel .slick-next,
.game-carousel .slick-prev {
  display: none !important;
}

.game-carousel .slick-dots {
  bottom: 25px;
}

.game-carousel .slick-slider {
  padding-top: 0px;
}